header {
    
    color: #fff;
    text-align: center;
    padding: 1em;
}

body {
    background-color: #818181;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

h2{
    color: #6fffee;
    font-size: 40px;
    padding: 20px;
    margin: 0;


}


h1{
    color: #c7c7c7;
    font-size: 14px;
}
main {
    padding: 20px;
}

footer {
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Style the sidebar - fixed full height */
.sidebar {

    width: 300px;
    font-size: 20px;
    position: fixed;
    overflow-x: hidden;
    padding-top: 16px;
    
  }
  
  /* Style sidebar links */
  .sidebar a {
    padding: 100px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
  }
  
  /* Style links on mouse-over */
  .sidebar a:hover {
    color: #6fffee;
  }

    .button1 {
    color: white;
    border: none;
    background-color: transparent;
    font-size: 24px;
    }
    .button1:hover {
      background: #6fffee;
      color: white;
    }
    .button2 {
      color: white;
      border: none;
      background-color: transparent;
      font-size: 24px;
    }
    .button2:hover {
      background: #6fffee;
      color: white;
    }
    .button3 {
      color: white;
      border: none;
      background-color: transparent;
      font-size: 24px;
    }
    .button3:hover {
      background: #6fffee;
      color: white;
    }
  
  /* Style the main content */
  .main {
    margin-left: 160px; /* Same as the width of the sidenav */
    padding: 0px 10px;
  }
  
  /* Add media queries for small screens (when the height of the screen is less than 450px, add a smaller padding and font-size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }
/* Add your image styles here */
#displayedImage {
    width: 100%;
    height: 100vh; /* 100% of the viewport height */
    object-fit: cover; /* Cover the entire container, maintaining aspect ratio */
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1; /* Place the image behind other elements */
}


.accordion {
  background-color: transparent;
  color: rgb(191, 191, 191);
  cursor: pointer;
  padding: 30px;
  width: 100%;
  border: none;
  text-align: right;
  outline: none;
  font-size: 26px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: transparent;
  padding: 20px;
}

.panel {
  text-align: right;
  font-size: 16px;
  color: white;
  padding: 18px;
  display: none;
  background-color: transparent;
  overflow: hidden;
}