#wrapper {
    display: flex;
    width: 100vw;
    height: 100vh;
    object-fit: cover; 
    position: fixed;
    top: 0;
    left: 0;
}

.VisSVG {
    display: inline-block;
    justify-content: center;
    pointer-events: all;
    z-index: 0;
    
}
