#wrapper {
    background-color: transparent;
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    width: 100vw;
    height: 95vh;
    position: relative;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    z-index: 1;
}

.VisSVG {
    width: 100vw;
    height: 95vh;
}
