:root {
    /* #0B0C10 almost balck, #1F2833 dark blue, #C5C6C7 grey, #66FCF1 bright blue, #45A29E midddle blue
       #EAE7DC shell yellow, #D8C3A5 warm yellow, #8E8D8A grey, #E98074, #E85A4F
       #F2F1EF isabelline #B1A6A4 quick silver, #697184 aurometalsaurus, #D8CFD0 light grey, #413F3D black olive*/
    background-color: #fefefe;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    color: #535F80;
    font-size: 14px;
}

h2 {
    color: #051747;
    font-size: 40px;
    padding: 20px;
    margin: 0;
}

main {
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
}

footer {
    color: #535F80;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/*Utilities*/
#container {
/*    display: flex;
    flex-direction: row;
    justify-content: space-between;*/
    position: relative;
    height: 100%;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-center {
    justify-content: center;
}

/*Sidebar*/
#sidebar {
    width: 10%;
    height: 100%;
    font-size: 20px;
    overflow-x: hidden;
    padding-left: 20px;
    position: fixed;
    top: 0%;
    left: 0;
    z-index: 2;
    background-color: rgba(11, 20, 79, 0.15);
}

#sidebar a {
    padding: 50px 10px 50px 10px;
    text-decoration: none;
    font-size: 25px;
    color: #697184;
    display: block;
}

#sidebar a:hover {
    color: #081f62;
}

.sidebar-btn {
    color: #697184;
    font-weight: 550;
    border: none;
    background-color: transparent;
    font-size: 24px;
}

.sidebar-btn:hover {
    color: #081f62;
}

/*Displayed image*/
#displayedImage {
    width: 100vw;
    height: 100vh;
    object-fit: cover; 
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

/*Accordion*/
#accordion {
    width: 19%;
    height: 100%;
    font-size: 20px;
    overflow-x: hidden;
    padding-right: 20px;
    position: fixed;
    top: 0%;
    z-index: 2;
    right: 0;
}

#accordion > h2 {
    text-align: right;
    background-color: rgba(61, 60, 108, 0.2);
}

.accordion-btn {
    color: #697184;
    cursor: pointer;
    padding: 20px 30px;
    width: 100%;
    border: none;
    text-align: right;
    outline: none;
    font-size: 26px;
    transition: 0.4s;
    background-color: rgba(61, 60, 108, 0.2);
}

.accordion-btn:hover {
    color: #081f62;
}

.panel {
    text-align: right;
    font-size: 18px;
    color: #697184;
    padding: 20px;
    padding-top: 0px;
    display: none;
    overflow: hidden;
    background-color: rgba(61, 60, 108, 0.2);
    align-items: right;
}

.panel>p {
    margin: 15px;
}

.panel>p:hover {
    color: #081f62;
}

